<ion-header class="ion-no-border">
  <ion-toolbar class="ion-flex ion-no-shadow">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <h2 class="capitalize font-bold text-xl">Informacion de Usuario</h2>
        </ion-col>
        <ion-col size="2">
          <div class="flex justify-end">
            <button (click)="closeModal()">
              <ion-icon name="close-circle-outline" size="large"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list> </ion-list>
</ion-content>
