<ion-header class="ion-no-border">
  <ion-toolbar class="ion-flex ion-no-shadow">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <h2 class="capitalize font-bold text-xl">Informacion de Usuario</h2>
        </ion-col>
        <ion-col size="2">
          <div class="flex justify-end">
            <button (click)="closeModal()">
              <ion-icon name="close-circle-outline" size="large" />
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-title>Pedidos</ion-title>
      </ion-col>
      <ion-col size="2" class="ion-justify-content-end">
        <ion-button (click)="openModalEditUser()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    @for (delivery of deliveries(); track $index) {
    <ion-item>
      <ion-card class="w-full">
        <ion-card-header>
          <ion-card-title>
            <b>
              {{ delivery.total | currency : "COP" : "symbol-narrow" }}
            </b>
          </ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>
            <b>Fecha de pedido:</b> {{ delivery.fechaHora | date : "medium" }}
          </p>
          <p><b>Dia de entrega:</b> {{ delivery.diaEntrega }}</p>
          <p><b>Quien Recibe:</b> {{ delivery.recibe }}</p>
          <p>
            <b>Estado:</b>

            @switch (delivery.estado) { @case ("P") { Pendiente } @case ("E")
            {Entregado } @case ("A") { Anulado } @default { Pendiente } }
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
    }@empty {
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No tienes pedidos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
    }
  </ion-list>

  <ion-modal />
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      fill="solid"
      class="ion-padding"
      (click)="closeSession()"
    >
      Cerrar Sesion
    </ion-button>
  </ion-toolbar>
</ion-footer>
