<div
  class="w-full p-3 flex card border bg-white border-gray-200 hover:shadow-lg transition-all rounded-lg animate__animated animate__fadeIn"
>
  <!-- card-header -->
  <div class="w-3/12 flex justify-center items-center">
    @if (product?.imagen) {
    <img
      [src]="product?.imagen"
      class="rounded-lg h-20"
      alt="img-product"
      loading="lazy"
    />

    }@else {
    <img src="assets/brands/no-image.png" alt="no-img" />
    }
  </div>
  <!-- card-content -->
  <div class="p-3 relative flex flex-col justify-center items-start w-5/12">
    <div class="w-full overflow-hidden">
      <p class="text-black font-bold truncate">{{ product?.productoNombre }}</p>
      <p class="text-green-600 font-bold truncate">${{ product?.valor }}</p>
      <p class="text-slate-300 text-lg">
        {{ product?.medidaNombre }}
      </p>
    </div>
  </div>

  <div class="w-4/12 flex justify-center items-center">
    <form
      [formGroup]="countForm"
      class="flex justify-center items-center w-full overflow-hidden"
    >
      <button
        (click)="lessQuantity(product, 1)"
        type="button"
        class="overflow-hidden w-6 h-6 p-1 mr-3 text-white font-bold bg-green-600 rounded-full flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20px"
          height="20px"
          viewBox="0 0 14 14"
        >
          <path
            fill="#ffffff"
            fill-rule="evenodd"
            d="M7 14A7 7 0 1 0 7 0a7 7 0 0 0 0 14M4 6.25a.75.75 0 0 0 0 1.5h6a.75.75 0 0 0 0-1.5z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <input
        (change)="updateCountProduct(product, $event.target)"
        (focus)="updateCountProduct(product, $event.target)"
        formControlName="quantity"
        type="number"
        placeholder="0"
        class="flex border w-8 h-8 p-1 rounded border-green-600 text-center font-bold text-green-600"
      />
      <button
        (click)="plusQuantity(product, 1)"
        type="button"
        class="overflow-hidden w-6 h-6 p-1 ml-3 text-white font-bold bg-green-600 rounded-full flex items-center justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 16 16"
        >
          <path
            fill="#ffffff"
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"
          />
        </svg>
      </button>
    </form>
  </div>
</div>
