<ion-content class="animate__animated animate__fadeIn">
  <ion-grid>
    <!-- img-banner -->
    <ion-row class="">
      <ion-col size="12" class="flex justify-center">
        <img
          src="assets/brands/brand-outline.png"
          class="w-1/2"
          alt="brand-outline"
        />
      </ion-col>
    </ion-row>

    <!-- input -->
    <ion-row class="">
      <ion-col size="12">
        <form class="w-full flex justify-center">
          <div class="form-control w-11/12">
            <ion-searchbar
              placeholder="Buscar producto"
              inputmode="text"
              type="text"
              [debounce]="800"
              animated="true"
              (ionInput)="searchProductByTerm($event)"
            ></ion-searchbar>
          </div>
        </form>
      </ion-col>
    </ion-row>

    <!-- categories -->
    <ion-row class="mt-5" class="flex justify-center items-start">
      <!-- cat-varios -->
      @if (categories().length > 0) { @for (category of categories(); track
      $index) {
      <ion-col size="3" class="flex flex-col justify-center items-center">
        <div
          class="rounded-full p-1 shadow-lg"
          (click)="filterByCategory(category.idCategoria)"
        >
          <img
            src="assets/imgs-categories/{{ category.idCategoria }}.jpg"
            alt="img"
            class="rounded-full"
            width="50px"
            height="50px"
          />
        </div>
        <p class="font-bold text-center">
          {{ category.nombre | titlecase }}
        </p>
      </ion-col>
      } }
    </ion-row>

    <!-- products -->
    <ion-row class="">
      <ion-col size="12" class="flex justify-center">
        @if (products().length > 0){
        <div
          class="w-full grid grid-cols-1 gap-5 animate__animated animate__fadeIn pb-20"
        >
          @for (product of filterProducts(); track $index) {
          <app-product-card
            [product]="product"
            [medida]="getMeasures(product.producto.idMedida ?? '')"
          />
          }
        </div>
        }@else {
        <app-loader />
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
